@inherits LayoutComponentBase

<div class="header">


    <nav class="navbar navbarRenk">
        
        
            <span class="navbar-brand navbarYazi">Bilecik Şeyh Edebali Üniversitesi Telefon Rehberi</span>

       
        
    </nav>

    <div class="kutu">
        <img src="https://bilecik.edu.tr/Image/SiteLogo_4c8b_11.png" height="80" width="80" style="margin-left:30px;"/>
    </div>
        

            <div class="baslik">
                <div class="baslik1">
                    <div class="container d-flex justify-content-between">

                        <a href="#" class="navbar-brand d-flex align-items-center">
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="300" </svg>
                 
                        </a>
                    </div>
                </div>
            </div>

   
        <div class="content px-4">
            @Body
        </div>
   
</div>


